{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        // "targets": "> 0.25%, not dead" // 根据目标环境自动转换语法
        "targets": {
          "node": "10" // 针对当前 Node.js 版本
        }
      }
    ]
  ]
}