* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-overflow-scrolling: touch;
  font-family: SF-Pro-Display-Regular;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  margin-block-start:0;
  margin-block-end:0;
  margin-inline-start:0;
  margin-inline-end:0;
  padding-block-start:0;
  padding-block-end:0;
  padding-inline-start:0;
  padding-inline-end:0;
}

body {
  color: #333;
  font-size: 14px;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
}

/*a:hover { text-decoration:underline; }*/
img {
  border: none;
  -webkit-touch-callout: none;
}

ol,
ul,
li {
  list-style: none;
}

i {
  font-style: normal;
}

input,
textarea,
select,
button {
  font-size: 14px;
}
button {
  all: unset; /* 移除所有默认样式 */
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  line-height: inherit;
  cursor: pointer;
  -webkit-appearance: none; /* 移除默认的按钮样式（WebKit浏览器） */
  -moz-appearance: none; /* 移除默认的按钮样式（Firefox） */
  appearance: none; /* 移除默认的按钮样式 */
}
input, textarea{
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
}
html,body{
  width: 100%;
}

html {
  overflow-y: scroll;
}

ul,
li {
  list-style: none;
}

.g-clear {
  clear: both;
  zoom: 1;
}

.g-clear:after {
  content: " ";
  height: 0;
  display: block;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.g-hover {
  cursor: pointer;

  &:hover {
    color: #ff2553 !important;
  }
}

.g-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
}
.g-flex-wrap {
  flex-wrap: wrap;
}
.g-flex-justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.g-flex-justify-end {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.g-flex-algin {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.g-flex-column {
  flex-direction: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
}

.g-flex-justify-start {
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.g-flex-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.g-flex-justify-around {
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.g-flex-content-center {
  align-content: center;
}

.g-flex-start {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.g-flex-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.g-es {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g-es-2 {
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-refresh:before {
  content: "\e602";
}

.icon-load:before {
  content: "\e603";
}
.user-select{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
img[src=""],img:not([src]){
  opacity:0;
}
body.modalOpen {
  -webkit-overflow-scrolling:touch;
  position: fixed;
  width: 100%;
}
.sm-overflow-hidden {
  overflow: hidden !important;
}
.sm-overflow-hidden-html{
  overflow-y: initial !important;
}
:root {
  --sait: env(safe-area-inset-top);
  --sair: env(safe-area-inset-right);
  --saib: env(safe-area-inset-bottom);
  --sail: env(safe-area-inset-left);
}
